<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!/shop">
            <img src="../../assets/img/logo.png" alt="Logo" width="64" height="44" />
        </a>
    </div>
    <div class="col-lg-3 col-md-4">
        <form ng-submit="search()" class="row nav-search">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text red-group">Search: </div>
                    </div>
                    <input type="search" class="form-control" placeholder="Product name" ng-model="product" />
                </div>
            </div>
            <button type="submit" class="btn btn-red"><i class="bi bi-search"></i></button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="management-left" class="col-lg-4 col-md-5 col-sm-12 col-xs-12" ng-style="leftStyle">
            <div class="container product-form-container">
                <div class="row">
                    <h4 class="col product-header">
                        <div>{{productName}}</div>
                    </h4>
                    <div class="col">
                        <button class="btn btn-md btn-outline-dark btn-add" ng-click="createNewProduct()">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                </div>
                <hr class="row" />
                <div class="row" ng-show="showProductForm">
                    <form name="productForm" class="product-form" ng-submit="save()">
                        <div class="form-row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text dark-group">Product name:</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Product name" ng-model="name"
                                        product-name-validation />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text dark-group">Price:</span>
                                    </div>
                                    <input type="number" step="0.01" min="0.01" class="form-control" placeholder="Price"
                                        ng-model="price" price-validation />
                                    <div class="input-group-append">
                                        <span class="input-group-text dark-group">$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <img class="rounded img-center" src="{{imgSrc}}" alt="product name" width="160"
                                    height="160" ng-show="showImg" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn btn-md btn-dark btn-file">
                                <div>{{fileStatus}}</div>
                                <input type="file" class="file" file-model="file" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{showMenu}}"
                                        ng-click="openMenu()">
                                        {{selectedCategory}}
                                    </button>
                                    <div class="col">
                                        <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton"
                                            ng-show="showMenu">
                                            <span class="dropdown-item" ng-repeat="category in categories"
                                                ng-click="setCategory($index)">{{category.name}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="submit" class="btn btn-lg btn-red" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12" ng-style="rightStyle" ng-controller="storeContentCtrl">
            <store-content>
            </store-content>
        </div>
    </div>
</div>
