<ul class="nav nav-tabs">
    <li class="nav-item" ng-repeate="category in categories" ng-click="setCategory($index)">
        <span class="nav-link">
            {{category.name}}
        </span>
    </li>
</ul>

<div class="card" ng-repeat="product in products" ng-click="select($index)">
    <img class="img-top" ng-src="" alt="{{product.name}}">
    <div class="card-body">
        <div class="card-price">{{product.price}}</div>
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</P>
    </div>
</div>
